<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" name="MyCustomAuthentication" timeout="30"/>
      </authentication>
      <customErrors mode="On" defaultRedirect="GenericError.html">
        <error statusCode="404" redirect="/ErrorPages/PageNotFound.html"/>
        <error statusCode="403" redirect="NoAccess.html"/>
      </customErrors>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="Conn" connectionString="server=DBTMN\SQLEXPRESS ; database=VideoPortal; trusted_connection=true" />
  </connectionStrings>
</configuration>
